# Core object types & data structure

In [3]:
_int_var = 1
int_just_like_long = 1111111111111111111320947892365788364576345675

float_var = 1.34565656768
bool_var = True
__text_var = "var var"
complex_var = 1 + 4j

# an empty list
lst_empty = []
# a list with some values
lst_some = [1, 2, 3]
# a tuple. Same as list, but immutable
tuple_some = (10, 434, 32, 1, -123)
# a dictionary
dict_example = {"key": "value", "another_key": 123, "list_key": lst_some}
# a set (only unique)
set_example = {1, 2, 3, "123"}

### but don't use any special symbol

In [1]:
shdj*@#&^$ = 3

SyntaxError: invalid syntax (<ipython-input-1-5bfec1ef9e67>, line 1)

In [45]:
# use functions list, set, dict, tuple to convert between types

lst = [1, 2, 3, 3, 1, 2]
tupl = tuple(lst)
s = set(lst)
print(lst, tupl, s)

[1, 2, 3, 3, 1, 2] (1, 2, 3, 3, 1, 2) {1, 2, 3}

### check the type of an object with "type"

In [4]:
type(int_just_like_long)

int

### the same objects in case of less than byte

In [6]:


a = 256
b = 256

print(a is b)
print(a == b)

True
True

In [5]:
a = 257
b = 257

print(a is b)
print(a == b)

False
True

### list slicing

from:to:step

In [33]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
print(a[0], a[-1])

1 9

In [35]:
print(a[0:2], a[:2])

[1, 2] [1, 2]

In [36]:
a[1:3]

[2, 3]

In [37]:
print(a[2:-1], a[2:])

[3, 4, 5, 6, 7, 8] [3, 4, 5, 6, 7, 8, 9]

In [38]:
a[1:8:2]

[2, 4, 6, 8]

### immutable vs mutable

#### use id() to see object's address

In [7]:
str1 = "123"
str2 = "321"

print(id(str1))
print(id(str2))

str1 += str2
print(id(str1))

1908454510640
1908454511144
1908454514000

### so don't use a string concatenation in such way.
#### It creates extra objects and much more slower than other ways

In [8]:
def str_concat():
    s = ""
    for i in range(int(1e6)):
        s += str(i)
        
% timeit str_concat()

2.11 s ± 179 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [9]:
import io

def str_stringio():
    output = io.StringIO()
    for i in range(int(1e6)):
        output.write(str(i))
        
% timeit str_stringio()

291 ms ± 23.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### different ways to format string

In [11]:
"some str %e / %s" % (123, 2545.0)  # s - string, d - decimal, e - exp, f - float, etc

'some str 1.230000e+02 / 2545.0'

In [12]:
"%64.3f" % 2324.456546

'                                                        2324.457'

In [13]:
"{0:.3f}".format(5.34546)

'5.345'

In [14]:
"int: {0:d};  hex: {0:x};  oct: {0:#o};  bin: {1:#b}".format(42, 41)

'int: 42;  hex: 2a;  oct: 0o52;  bin: 0b101001'

In [15]:
"some str {}".format(123)

'some str 123'

In [16]:
"some str {one} and {two}".format(two=123, one=345)

'some str 345 and 123'

In [17]:
f'there is a cool f-string: {[str(i) for i in range(120) if i % 2 == 0]}'

"there is a cool f-string: ['0', '2', '4', '6', '8', '10', '12', '14', '16', '18', '20', '22', '24', '26', '28', '30', '32', '34', '36', '38', '40', '42', '44', '46', '48', '50', '52', '54', '56', '58', '60', '62', '64', '66', '68', '70', '72', '74', '76', '78', '80', '82', '84', '86', '88', '90', '92', '94', '96', '98', '100', '102', '104', '106', '108', '110', '112', '114', '116', '118']"

### copy carefully

In [18]:
ls1 = [1, 2, 3]
ls2 = ls1

ls2[0] = 1242356
print(ls2, ls1)

[1242356, 2, 3] [1242356, 2, 3]

In [19]:
from copy import copy

ls1 = [1, 2, 3]
ls2 = ls1[:]

ls2[0] = 1242356

print(ls1)
print(ls2)

[1, 2, 3]
[1242356, 2, 3]

In [20]:
lst1 = ['a','b',['ab','ba']]

lst2 = list(lst1)

lst2[2][1] = "21_CHANGED"
lst2[0] = "0_CHANGED"

print(lst2)
print(lst1)

['0_CHANGED', 'b', ['ab', '21_CHANGED']]
['a', 'b', ['ab', '21_CHANGED']]

In [21]:
from copy import deepcopy

lst1 = ['a','b',['ab','ba', ['A']]]

lst2 = deepcopy(lst1)

lst2[2][1] = "21_CHANGED"
lst2[2][2] = "sdf"
lst2[0] = "0_CHANGED"

print(lst2)
print(lst1)

['0_CHANGED', 'b', ['ab', '21_CHANGED', 'sdf']]
['a', 'b', ['ab', 'ba', ['A']]]

# Tasks

### 1

In [ ]:
Print the characters that have even indexes.

Input:

H1e2l3l4o5w6o7r8l9d

Output:

Helloworld

Hints:
slices: lst[from:to:step]

### 2

Count and print the numbers of each character in a string.

Input:

abcdefgabc

Output:

a,2
c,2
b,2
e,1
d,1
g,1
f,1

3 possible implementations:
- dict.get(<index>, <default_value>)
- defaultdict(<default_value_type>), from collections import defaultdict
- Counter(<str>), from collections import Counter

### 3

In [42]:
a = list(range(100)) + list(range(100))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

Output:
    
- even numbers
- only unique numbers

### 4

The area of a triangle can be computed using the following formula, where b is the length of the base of the triangle, and h is its height:

area = b x h / 2

In [ ]:
b = 10
h = 7

### 5

In [ ]:
seconds = 33
minutes = 10
hours = 11

Output:
- a string "Current Time: 11:10:33 AM"

### 6

In [50]:
import random

a = random.sample(range(100), 15)
print(a)

[64, 72, 52, 81, 77, 21, 86, 37, 25, 36, 74, 48, 12, 46, 4]

Output:
- 3 random different tuples by 5 items each